{
    "FACEBOOK_EMAIL": "your_facebook_email@example.com",
    "FACEBOOK_PASSWORD": "your_facebook_password",

    "CATEGORY": "vehicles",
    "QUERY": "honda",
    "MIN_PRICE": 40000,
    "MAX_PRICE": 800000,

    "TIME_AGO": 2,
    "TIME_UNIT": "Day",

    "CHECK_INTERVAL": 60,

    "GMAIL_USER": "your_gmail@gmail.com",
    "GMAIL_PASS": "xxxx xxxx xxxx xxxx",
    "TO_EMAIL": "recipient@example.com",

    "LOG_PATH": null
}